* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./Images/olafsky.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #916c3b;
  width: 100vw;
  /* margin-bottom: 5vh; */
  z-index: 100;
}

.sticky {
  position: fixed;
  top: 0;
  z-index: 100;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  color: white;
  height: 11vh;
}

.navLinks {
  display: flex;
  flex-grow: 1;
}

.logo {
  display: flex;
  flex-grow: 3;
  padding-top: 0.5em;
  padding-left: 2em;
  font-weight: 900;
  font-size: 2rem;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.link {
  display: flex;
  flex-grow: 1;
}

a:link,
a:visited {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
  height: 100%;
  text-decoration: none;
  color: white;
  padding: 1em;
  transition-duration: 0.4s;
}

a:hover,
a:active {
  font-size: 2rem;
}

h3 {
  font-size: 3vw;
  z-index: 2;
  text-align: center;
  grid-column: 2 / span 3;
  grid-row: 1 / 1;
  color: #916c3b;
  font-weight: 800;
  margin-bottom: 5vh;
}

.soil,
.body,
.soul {
  padding: 7vh;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: black;
  background-color: white;
  margin: 0 auto 60vh;
  border-radius: 10px;
  width: 70vw;
}

.view {
  margin-top: 10vh;
  height: 100vh;
  width: 100vw;
}

.cvf {
  font-size: 7rem;
  z-index: 2;
  text-align: center;
  color: white;
  padding: 2vh;
  text-shadow: 1px 1px 1px black;
  font-weight: 300;
  height: 89vh;
  width: 70vw;
  margin: 15vh auto;
}

.image-container {
  padding: 1vw;
  background: white;
  width: 70vw;
  margin: 0 auto 30vh;
  text-align: center;
}

.pasture {
  margin: 0 auto;
  padding: 1vw;
  width: 30vw;
  height: 35vh;
  object-fit: cover;
  border-radius: 5px;
}

footer {
  background-color: #916c3b;
  height: 10vh;
  color: white;
  padding: 10px;
}

@media only screen and (min-width: 600px) and (max-width: 768) {
  body {
    background: url("./Images/olafsky.jpg") no-repeat center center fixed;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background: white;
  }

  .cvf {
    color: #916c3b;
    text-shadow: none;
    font-weight: 1000;
    font-size: 10vw;
    height: 10vh;
    margin: 20vh auto;
  }

  h3 {
    font-size: 6.5vw;
  }

  .soil,
  .body,
  .soul {
    /* padding: 7vh; */
    font-family: "Montserrat", sans-serif;
    font-size: 3vw;
    color: black;
    background-color: white;
    margin: 0 auto;
    /* border-radius: 10px; */
    width: 100vw;
  }

  .image-container {
    width: 100vw;
  }

  .pasture {
    width: 100vw;
    margin: 0 auto;
  }
}
